$blue: #004aad;
$green: #0cc285;
$gold: #b28735;
$grayblue: #3b506c;
$graygreen: #455951;
$black-but-not-too-black: rgb(7, 7, 7);
$basically-black: #0d0d0d;
$dark: #181c26;
$dark-light: #2f3740;
$white: rgb(247, 246, 246);
$white-darker: rgb(240, 238, 238);
$muddy-white: rgb(238, 238, 238);